<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.MdSensorSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.MdSensorSetting">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_on" property="lastUpdateOn" />
    <result column="create_on" property="createOn" />
    <result column="delimit" property="delimit" />
        <result column="sensor_id" property="sensorId" />
        <result column="tag_id" property="tagId" />
        <result column="yt_min" property="ytMin" />
        <result column="yt_max" property="ytMax" />
        <result column="sleep_time" property="sleepTime" />
        <result column="daq_frequency" property="daqFrequency" />
        <result column="daq_time" property="daqTime" />
        <result column="fmin" property="fmin" />
        <result column="fmax" property="fmax" />
        <result column="active" property="active" />
        <result column="mode" property="mode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,
        sensor_id, tag_id, yt_min, yt_max, sleep_time, daq_frequency, daq_time, fmin, fmax, active, mode
    </sql>

</mapper>
