<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.MdVibrationFeatureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.MdVibrationFeature">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_on" property="lastUpdateOn" />
    <result column="create_on" property="createOn" />
    <result column="delimit" property="delimit" />
        <result column="vif_postfix" property="vifPostfix" />
        <result column="vif_name" property="vifName" />
        <result column="ccs" property="ccs" />
        <result column="cws_w" property="cwsW" />
        <result column="cws_o" property="cwsO" />
        <result column="sws" property="sws" />
        <result column="fws" property="fws" />
        <result column="des_codes" property="desCodes" />
        <result column="fws_g" property="fwsG" />
        <result column="fws_m" property="fwsM" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,
        vif_postfix, vif_name, ccs, cws_w, cws_o, sws, fws, des_codes, fws_g, fws_m
    </sql>

</mapper>
