<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.MdVibrationAnalysisFavoriteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.MdVibrationAnalysisFavorite">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="last_update_by" property="lastUpdateBy"/>
        <result column="last_update_on" property="lastUpdateOn"/>
        <result column="create_on" property="createOn"/>
        <result column="delimit" property="delimit"/>
        <result column="tag_id" property="tagId"/>
        <result column="location" property="location"/>
        <result column="alias" property="alias"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_id" property="deviceId"/>
        <result column="sub_system_id" property="subSystemId"/>
        <result column="acquisition_time" property="acquisitionTime"/>
        <result column="data_type" property="dataType"/>
        <result column="hasRemark" property="hasRemark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,alias,
        tag_id, location, device_name, device_id,sub_system_id,data_type,acquisition_time
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="Column_listAnalysisFavorite">
        f.id,
        f.create_by,
        f.last_update_by,
        f.last_update_on,
        f.create_on,
        f.delimit,
        f.tag_id, f.location, f.device_id,f.sub_system_id,f.data_type,f.acquisition_time
    </sql>
    <select id="listAnalysisFavorite" resultMap="BaseResultMap">
        SELECT
        <include refid="Column_listAnalysisFavorite"/>
        ,( SELECT count( t.id )>0 FROM md_vibration_analysis_favorite_remark t WHERE favorite_id = f.id ) hasRemark
        ,s.alias,(SELECT device_name FROM md_device d WHERE f.device_id = d.id) device_name
        FROM
        md_vibration_analysis_favorite f LEFT JOIN md_sensor s ON f.tag_id =s.tag_id
        WHERE
        f.delimit = 0
        <if test="query.dataType != null and query.dataType != ''">
            and f.data_type = #{query.dataType}
        </if>
        <if test="query.location != null and query.location != ''">
            and f.location = #{query.location}
        </if>
        <if test="query.location != null and query.location != ''">
            and f.location = #{query.location}
        </if>
        <if test="query.deviceId != null and query.deviceId != ''">
            and f.device_id = #{query.deviceId}
        </if>
        <if test="query.subSystemId != null and query.subSystemId != ''">
            and f.sub_system_id = #{query.subSystemId}
        </if>
        <if test="time.start != null and time.start != '' and time.end != null and time.end != ''">
            and (f.acquisition_time BETWEEN #{time.start} and #{time.end})
        </if>
        <choose>
            <when test="query.sortField == null">
                order by f.acquisition_time desc
            </when>
            <otherwise>
                order by ${query.sortField} ${query.sortOrder}
            </otherwise>
        </choose>
    </select>
</mapper>
