<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.TxDeviceStopStartRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.TxDeviceStopStartRecord">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_on" property="lastUpdateOn" />
    <result column="create_on" property="createOn" />
    <result column="delimit" property="delimit" />
        <result column="device_id" property="deviceId" />
        <result column="action_times" property="actionTimes" />
        <result column="start_flag" property="startFlag" />
        <result column="start_begin_time" property="startBeginTime" />
        <result column="start_end_time" property="startEndTime" />
        <result column="duration_of_start" property="durationOfStart" />
        <result column="start_brief" property="startBrief" />
        <result column="start_note" property="startNote" />
        <result column="stop_flag" property="stopFlag" />
        <result column="stop_begin_time" property="stopBeginTime" />
        <result column="stop_end_time" property="stopEndTime" />
        <result column="duration_of_stop" property="durationOfStop" />
        <result column="stop_brief" property="stopBrief" />
        <result column="stop_note" property="stopNote" />
        <result column="device_type" property="deviceType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,
        device_id, action_times, start_flag, start_begin_time, start_end_time, duration_of_start, start_brief, start_note, stop_flag, stop_begin_time, stop_end_time, duration_of_stop, stop_brief, stop_note, device_type
    </sql>

</mapper>
