<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.TxSensorTrendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.TxSensorTrend">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_on" property="lastUpdateOn" />
    <result column="create_on" property="createOn" />
    <result column="delimit" property="delimit" />
        <result column="tag_id" property="tagId" />
        <result column="trend" property="trend" />
        <result column="change_amplitude" property="changeAmplitude" />
        <result column="change_ratio" property="changeRatio" />
        <result column="z_value" property="zValue" />
        <result column="p_value" property="pValue" />
        <result column="trend_period" property="trendPeriod" />
        <result column="trend_time" property="trendTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,
        tag_id, trend, change_amplitude, change_ratio, z_value, p_value, trend_period, trend_time
    </sql>
  

</mapper>
