<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.entity.BizReportDO">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.BizReportDO">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="deleted" property="deleted"/>
        <result column="device_id" property="deviceId"/>
        <result column="sub_system_id" property="subSystemId"/>
        <result column="device_name" property="deviceName"/>
        <result column="report_name" property="reportName"/>
        <result column="report_type" property="reportType"/>
        <result column="report_period" property="reportPeriod"/>
        <result column="status" property="status"/>
        <result column="report_path" property="reportPath"/>
        <result column="report_time" property="reportTime"/>
        <result column="report_start_time" property="reportStartTime"/>
        <result column="report_end_time" property="reportEndTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sort,
        creator,
        modifier,
        gmt_create,
        gmt_modified,
        deleted,
        device_id, sub_system_id, device_name, report_name, report_type, report_period, status, report_path, report_time, report_start_time, report_end_time, remark
    </sql>

</mapper>
