<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.CommonSensorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.CommonSensorDO">
        <result column="id" property="id"/>
        <result column="importance" property="importance"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="deleted" property="deleted"/>
        <result column="sensor_code" property="sensorCode"/>
        <result column="sensor_name" property="sensorName"/>
        <result column="edge_id" property="edgeId"/>
        <result column="edge_name" property="edgeName"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_id" property="deviceId"/>
        <result column="sensor_location" property="sensorLocation"/>
        <result column="sensor_type" property="sensorType"/>
        <result column="sensor_desc" property="sensorDesc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        importance,
        creator,
        modifier,
        gmt_create,
        gmt_modified,
        deleted,
        sensor_code, sensor_name, edge_id, edge_name, device_name, device_id, sensor_location, sensor_type, sensor_desc
    </sql>

</mapper>
