<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.entity.JobAlarmEventDO">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.JobAlarmEventDO">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="deleted" property="deleted"/>
        <result column="device_id" property="deviceId"/>
        <result column="sub_system_id" property="subSystemId"/>
        <result column="model_id" property="modelId"/>
        <result column="device_code" property="deviceCode"/>
        <result column="device_name" property="deviceName"/>
        <result column="point_ids" property="pointIds"/>
        <result column="point_set" property="pointSet"/>
        <result column="event_name" property="eventName"/>
        <result column="event_category" property="eventCategory"/>
        <result column="alarm_code" property="alarmCode"/>
        <result column="alarm_type" property="alarmType"/>
        <result column="alarm_level" property="alarmLevel"/>
        <result column="alarm_count" property="alarmCount"/>
        <result column="alarm_reason" property="alarmReason"/>
        <result column="alarm_frequency" property="alarmFrequency"/>
        <result column="alarm_content" property="alarmContent"/>
        <result column="alarm_status" property="alarmStatus"/>
        <result column="gmt_first_alarm" property="gmtFirstAlarm"/>
        <result column="gmt_last_alarm" property="gmtLastAlarm"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sort,
        creator,
        modifier,
        gmt_create,
        gmt_modified,
        deleted,
        device_id, sub_system_id, model_id, device_code, device_name, point_ids, point_set, event_name, event_category, alarm_code, alarm_type, alarm_level, alarm_count, alarm_reason, alarm_frequency, alarm_content, alarm_status, gmt_first_alarm, gmt_last_alarm, remark
    </sql>

</mapper>
