<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.MonitorDeviceStateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.MonitorDeviceStateDO">
        <result column="id" property="id"/>
        <result column="importance" property="importance"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="deleted" property="deleted"/>
        <result column="device_id" property="deviceId"/>
        <result column="device_code" property="deviceCode"/>
        <result column="device_type" property="deviceType"/>
        <result column="status" property="status"/>
        <result column="continuous_running_time" property="continuousRunningTime"/>
        <result column="total_running_time" property="totalRunningTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        importance,
        creator,
        modifier,
        gmt_create,
        gmt_modified,
        deleted,
        device_id, device_code, device_type, status, continuous_running_time, total_running_time
    </sql>

</mapper>
