<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.core.mapper.MdRuntimeBaseCfgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.core.entity.MdRuntimeBaseCfg">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="last_update_by" property="lastUpdateBy"/>
        <result column="last_update_on" property="lastUpdateOn"/>
        <result column="create_on" property="createOn"/>
        <result column="delimit" property="delimit"/>
        <result column="site_id" property="siteId"/>
        <result column="set_id" property="setId"/>
        <result column="sub_system_id" property="subSystemId"/>
        <result column="device_id" property="deviceId"/>
        <result column="initial_parameter_name" property="initialParameterName"/>
        <result column="initial_parameter_data_type" property="initialParameterDataType"/>
        <result column="initial_parameter_value" property="initialParameterValue"/>
        <result column="parameter_display_name" property="parameterDisplayName"/>
        <result column="unit" property="unit"/>
        <result column="start_date_time" property="startDateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,
        site_id, set_id, sub_system_id, device_id, initial_parameter_name, initial_parameter_data_type,
        initial_parameter_value,parameter_display_name,unit, start_date_time
    </sql>
    <select id="getRotaryRuntimeConfig" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from md_runtime_base_cfg WHERE device_id = #{deviceId} AND initial_parameter_name in
        ('total_running_duration','current_year_running_duration','previous_year_running_duration','start_time')
    </select>

</mapper>
