<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimsphm.nuclear.common.mapper.MdSubSystemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aimsphm.nuclear.common.entity.MdSubSystem">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="last_update_by" property="lastUpdateBy" />
        <result column="last_update_on" property="lastUpdateOn" />
        <result column="create_on" property="createOn" />
        <result column="delimit" property="delimit" />
        <result column="system_id" property="systemId" />
        <result column="sub_system_name" property="subSystemName" />
        <result column="sub_system_desc" property="subSystemDesc" />
        <result column="sub_system_type" property="subSystemType" />
        <result column="trendf_algo_id" property="trendfAlgoId" />
        <result column="trendr_algo_id" property="trendrAlgoId" />
        <result column="forecast_algo_id" property="forecastAlgoId" />
        <result column="faultd_algo_id" property="faultdAlgoId" />
        <result column="additional_type" property="additionalType"/>
        <result column="vif_algo_id" property="vifAlgoId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        last_update_by,
        last_update_on,
        create_on,
        delimit,
        system_id, sub_system_name, sub_system_desc, sub_system_type, trendf_algo_id, trendr_algo_id, forecast_algo_id, additional_type, vif_algo_id
    </sql>

</mapper>
