package ${cfg.extPackagePre}.${cfg.mapper};

import ${package.Mapper}.${table.mapperName};

/**
 * <p>
 * 功能描述:$!{table.comment}MapperExt接口
 * </p>
 *
 * @author ${author}
 * @version 1.0
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName}${cfg.classNameExt} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName}${cfg.classNameExt} extends ${table.mapperName} {

}
#end
