package ${cfg.extPackagePre}.${cfg.service};

import ${package.Entity}.${entity};
import ${package.Entity}.bo.QueryBO;
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * <p>
 * 功能描述:$!{table.comment}扩展服务类
 * </p>
 *
 * @author ${author}
 * @version 1.0
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName}${cfg.classNameExt} : ${table.serviceName}
#else
public interface ${table.serviceName}${cfg.classNameExt} extends ${table.serviceName} {

    /**
     * 根据条件获取分页查询数据
     *
     * @param queryBO 查询条件
     * @return
     */
    Page<${entity}> list${cfg.get(${entity})}ByPageWithParams(QueryBO<${entity}> queryBO);
}
#end
